<div class="container my-4">

    <!-- Heading -->
    <h1 class="text-center text-dark mb-4">Product Detail</h1>

    <!-- Product Details Section -->
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <!-- Product Name -->
            <p><strong>Name:</strong> T-shirt</p>

            <!-- Product Price -->
            <p><strong>Price:</strong> $25.99</p>

            <!-- Product Description -->
            <p><strong>Description:</strong></p>
            <p class="lead">
                This T-shirt is made from high-quality cotton and is perfect for casual wear. It is available in various sizes and colors, and it promises comfort and durability.
            </p>

            <!-- Product Size -->
            <p><strong>Size:</strong> Medium</p>

            <!-- Product Category -->
            <p><strong>Category:</strong> T-shirts</p>

            <!-- Product Images -->
            <div class="mb-4 text-center">
                <p><strong>Images:</strong></p>
                <img src="~/img/product/product-10.jpg" alt="T-shirt Image" class="img-fluid" style="max-width: 100%; height: auto;" />
                <img src="~/img/product/product-11.jpg" alt="T-shirt Image" class="img-fluid" style="max-width: 100%; height: auto;" />
            </div>

        </div>
    </div>
</div>
