<div class="container my-4">

    <!-- Heading -->
    <h1 class="text-center text-dark mb-4">Create Category</h1>

    <!-- Category Form Section -->
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form method="post" action="/Admin/Category/Create">
                <!-- Category Name -->
                <div class="mb-3">
                    <label for="Name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="Name" name="Name" required />
                </div>

                <!-- Submit Button -->
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success">Create Category</button>
                </div>
            </form>
        </div>
    </div>
</div>
