
<div class="container my-4">

    <!-- Heading -->
    <h1 class="text-center text-dark mb-4">Category Detail</h1>

    <!-- Category Details Section -->
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <!-- Category Name -->
            <p><strong>Name:</strong> T-shirt</p>

        </div>
    </div>
</div>

