<div class="container my-4">

    <!-- Heading -->
    <h1 class="text-center text-dark mb-4">Blog Detail</h1>

    <!-- Blog Details Section -->
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <!-- Blog Title -->
            <p><strong>Title:</strong> The Future of Web Development</p>

            <!-- Blog Description -->
            <p><strong>Description:</strong></p>
            <p class="lead">
                Web development has come a long way since its inception. Today, developers have access to a wide array of tools, libraries, and frameworks that help in building modern, responsive, and dynamic websites. In this post, we will explore the future of web development, trends to watch out for, and technologies that are shaping the next generation of web applications.
            </p>

            <!-- Blog Image -->
            <div class="mb-4 text-center">
                <p><strong>Image:</strong></p>
                <img src="~/img/blog/blog-1.jpg" alt="Web Development Image" class="img-fluid" style="max-width: 100%; height: auto;" />
            </div>

            <!-- Created Time -->
            <p class="text-muted text-center">
                <strong>Created on:</strong> 2023-05-15 09:30 AM
            </p>
        </div>
    </div>
</div>




